$darkest: #373E40;
$darker: #305252;
$lightest: #d8f3dc;
$lighter: #95d5b2;
$light: #40916c;

$font: 'Baloo 2', cursive;



html, body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

p, span, ul, li, h1, h2, h3 {
    font-family: $font;
}
